{extend name="Public:base" /}
{block name="title"}后台管理{/block}
{block name="main"}
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">DouPHP 管理中心<b>></b><strong>角色管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('add')}" class="actionBtn add">添加角色</a>角色</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
            <th width="120" align="left">角色名称</th>
            <th align="left">角色权限</th>
            <th width="80" align="center">操作</th>
        </tr>
        {foreach $res as $key=>$vo }
        <tr>
            <td align="left">{$vo['role_name']}</td>
            <td>{$vo['based_id']}</td>
            <td align="center"><a href="product_category.php?rec=edit&cat_id=1">编辑</a> | <a href="product_category.php?rec=del&cat_id=1">删除</a></td>
        </tr>
        {/foreach}
    </table>
</div>
</div>

{/block}



